.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section {
    background-color: #ffffff;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 5px;
    height: 250px;
}

.section1 {
    display: flex;
    margin: 5px;
    height: 250px;
}

.totalUsers {
    width: 30%;
    height: 100%;
    margin-right: 10px;
}

.sec1subDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}



.total,
.totalUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: #0160E7;
    border-radius: 15px;
}

.totalHeading {
    font-size: 18px;
}

.totalNumber {
    font-size: 40px;
    font-weight: 600;
}

.sectionHeader {
    font-size: 20px;
    font-weight: 500;
    color: #0160e7;
    padding: 10px 20px;
}

.section2 {}

.section3 {}

.section4 {}