@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;

}

body {
  max-width: 1600px;
  margin: 0px auto;
}

/* Define custom scrollbar styles */
::-webkit-scrollbar {
  background-color: rgb(224, 220, 220);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #007BFF;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
  /* Change color on hover */
}


.gradientButton {
  background: linear-gradient(to right, #010657, #0151ad, #1581fd);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
}

.gradientHeader {
  background: linear-gradient(90deg, #010447, #0151ad, #308ffc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.darkBg1 {
  background-color: #131316;
  color: #d0d1d4;
}

.darkBg2 {
  background-color: #0a0a0c;
  color: #d0d1d4;
}

.lightBg1 {
  background-color: #FFFFFF;
}

.lightBg2 {
  background-color: #EDEFF6;
  color: black;
}