.profileContainer {
    width: 30%;
    margin: 0px auto;
    background-color: #F5F5F5;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.profileImage {
    width: 170px;
    border: 3px solid rgb(1, 58, 143);
    border-radius: 50%;
    height: 170px;
    margin: 10px 0px;
}

.profileName {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.profileText {
    font-size: 17px;
    margin: 10px 0px;

    text-align: center;
}

.profileButton {
    width: 100%;
}

@media (max-width: 1000px) {
    .profileContainer {
        width: 60%;
    }
}


@media (max-width: 480px) {
    .profileContainer {
        width: 85%;
    }
}