.loginButton {
    width: 100%;
    /* background-color: #007BFF; */
    padding: 10px 0px;
    /* border: 0px solid black;
    border-radius: 10px;
    color: white; */
    margin: 10px 0px;
    font-size: 16px;
}

.formDiv {
    margin: 0px 10%
}





@media (max-width: 480px) {
    .loginImage {
        visibility: hidden;
        position: absolute;
    }

    .formDiv {
        margin: 0px
    }
}