@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:wght@300;400;500;600;700&display=swap');




.aboutContainer2 {
    padding: 30px 70px;
}

p {
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.aboutImgContainer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .aboutContainer2 {
        padding: 20px 30px;
    }

    .aboutImgContainer>img {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .aboutContainer2 {
        padding: 20px 30px;
    }

    .aboutImgContainer>img {
        width: 300px;
    }
}