.bannerHeader {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    /* text-shadow:
        0 0 5px #000,
        0 0 10px #000,
        0 0 20px #000,
        0 0 30px #000,
        0 0 40px #000,
        0 0 50px #000; */
}

.bannerSubTitles {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    /* text-shadow:
        0 0 5px #000,
        0 0 10px #000,
        0 0 20px #000,
        0 0 30px #000,
        0 0 40px #000,
        0 0 50px #000; */
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImg {
    padding-top: 20px;
    height: 220px;
    width: 250px;
}

@media (max-width: 768px) {
    .bannerSubTitles {
        text-align: center;
        padding: 20px;
        font-size: 20px
    }
}


@media (max-width: 480px) {
    .bannerHeader {
        text-align: center;
        padding-top: 80px;
        font-size: 40px;
    }

    .bannerSubTitles {
        text-align: center;
        padding: 15px;
        font-size: 16px
    }

}