.aboutContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0px;
}

.aboutImage {
    width: 38%;
    height: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutImage:hover {
    transition: all 0.4s ease-in-out;
    animation: pulsate 0.8s ease-in-out infinite alternate;
    transform: perspective(100px) rotateY(2deg);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.aboutBody {
    width: 40%;

}

.aboutHeader {
    margin-top: 10px;
    font-size: 37px;
    font-weight: 700;
}


.aboutTexts {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
    padding: 20px 0px;
}




@media (max-width: 768px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 70px;
    }

    .aboutImage {
        width: 100%;
        height: auto;
        margin: 0px auto;
    }

    .aboutBody {
        text-align: center;
        width: 100%;

    }


}



@media (max-width: 480px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
    }

    .aboutImage {
        width: 100%;
        height: auto;
        margin: 0px auto;
    }

    .aboutBody {
        text-align: center;
        width: 100%;

    }

}