.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 5%;
}

.headerText {
    margin: 0;
    color: white
}


.headerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
}

.headerImg:hover {

    transition: all 0.4s ease-in-out;
    animation: pulsate 0.8s ease-in-out infinite alternate;
    transform: scale(1.1);
}


.header-menu {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0px 20px;
    font-size: 18px;
}

.menu li:hover {
    transition: all 0.4s ease-in-out;
    animation: pulsate 0.4s ease-in-out infinite alternate;
    transform: scale(1.2);
}

.dropdown {
    display: none;
}


.dropdownItem {
    padding: 30px 20px;
    font-size: 16px;
}





.ant-switch-checked {
    background-color: #15161a !important;
}




.ant-switch {
    background-color: #d2d2d3;
}







@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .dropdown {
        display: block;
    }
}


@media (max-width: 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px 3%;
    }

    .headerText {
        font-size: 25px;
    }

    .headerImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 50px;
    }

}