.reviewWidth {
    width: 45%;
    height: 100%;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.reviewContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2); */
    /* border: 1px solid #007BFF; */
    border-radius: 10px;
}

.reviewTitle {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px
}

.reviewImage {
    width: 120px;
    height: 120px;
    border: 2px solid #007BFF;
    border-radius: 50%;
}

.reviewName {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}


#myCarousel .slick-dots li button {
    background-color: #000;
    border-radius: 2px;
    width: 16px;
    height: 4px;
}

#myCarousel .slick-dots li.slick-active button {
    background-color: #000;
}



@media (max-width: 768px) {
    .reviewWidth {
        width: 70%;
        margin: 20px auto;
    }

    .reviewContainer {
        height: 300px;
    }
}


@media (max-width: 480px) {
    .reviewWidth {
        width: 95%;
        margin: 20px auto;
    }

    .reviewContainer {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: 1px solid #007BFF;
        border-radius: 10px;
    }
}