.cardBody {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px
}

.cardImage2 {
    width: 400px;
    height: auto;

}

.cardText {
    padding: 6px 0px;
}

.wCardDes {
    padding: 0 120px;
}

@media (max-width: 768px) {}


@media (max-width: 480px) {
    .cardBody {
        margin-top: 10px;
        display: block;
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        padding: 10px 10px
    }

    .cardImage2 {
        width: 90%;
        height: auto;

    }

    .cardText {
        padding: 6px 10px;
    }

    .wCardDes {
        padding: 0 10px;
    }


}