.cardBody {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px
}

.cardImage2 {
    width: 400px;
    height: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.cardImage2:hover {
    transition: all 0.4s ease-in-out;
    animation: pulsate 0.8s ease-in-out infinite alternate;
    transform: perspective(100px) rotateY(2deg);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.cardText {
    padding: 6px 0px;
}

.wCardDes {
    padding: 0 120px;
}

@media (max-width: 768px) {}


@media (max-width: 480px) {
    .cardBody {
        margin-top: 10px;
        display: block;
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        padding: 10px 10px
    }

    .cardImage2 {
        width: 90%;
        height: auto;

    }

    .cardText {
        padding: 6px 10px;
    }

    .wCardDes {
        padding: 0 10px;
    }


}